.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}

#header {
    border: 2px solid black;
    margin: 50px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    border: 2px solid black;
    margin: 50px;
    background-color: aliceblue;
    float: right;
}

.section2 {
    border: 2px solid black;
    margin: 50px;
    background-color: aliceblue;
    float: left;
}

#img1 {
    float: left;
}

#img2 {
    float: right;
}



