.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}

#header {
    border: 2px solid black;
    margin: 50px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    border: 2px solid black;
    margin: 50px;
    background-color: aliceblue;
    display: flex;
    clear: both;
}

#part1 {
    font-size: large;
    text-align: left;
    float: left;
    margin-right: 10px;
}

#part2 {
    font-size: larger;
    text-align: right;
    float: right;
    margin-left: 10px;
}

